<p id="notice"><%= notice %></p>

<h2 class="mid">Registrations</h2><br>

<p class="align1"> Click<b>
 <i> <%= link_to 'New Registration', new_registration_path %></i> </b>if you are a new user </p><br>
 

<%= render 'sessions/new'%>
